# Read the three files into python as dataframes

In [1]:
import pandas as pd
import numpy as np
file1 = pd.read_csv('/Users/joluhergo/Desktop/Ironhack/labs/lab-costumer-analysis-r1/file1.csv')
file2 = pd.read_csv('/Users/joluhergo/Desktop/Ironhack/labs/lab-costumer-analysis-r1/file2.csv')
file3 = pd.read_csv('/Users/joluhergo/Desktop/Ironhack/labs/lab-costumer-analysis-r1/file3.csv')

# Show the DataFrame's shape.

In [2]:
file1.shape

(4008, 11)

In [3]:
file2.shape

(996, 11)

In [4]:
file3.shape

(7070, 11)

# Standardize header names.

In [5]:
file1.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [6]:
file2.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')

In [7]:
file3.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [8]:
file1.columns = list(map(lambda x: x.upper(), file1.columns))
file2.columns = list(map(lambda x: x.upper(), file2.columns))
file3.columns = list(map(lambda x: x.upper(), file3.columns))

# Rearrange the columns in the dataframe as needed

In [9]:
file2.columns

Index(['CUSTOMER', 'ST', 'GENDER', 'EDUCATION', 'CUSTOMER LIFETIME VALUE',
       'INCOME', 'MONTHLY PREMIUM AUTO', 'NUMBER OF OPEN COMPLAINTS',
       'TOTAL CLAIM AMOUNT', 'POLICY TYPE', 'VEHICLE CLASS'],
      dtype='object')

In [10]:
file2 = file2[['CUSTOMER', 'ST', 'GENDER', 'EDUCATION', 'CUSTOMER LIFETIME VALUE',
       'INCOME', 'MONTHLY PREMIUM AUTO', 'NUMBER OF OPEN COMPLAINTS',
       'POLICY TYPE', 'VEHICLE CLASS', 'TOTAL CLAIM AMOUNT']]

In [29]:
file3_copy=file3.rename(columns={'STATE': 'ST'})

In [13]:
file1.head(3)

,CUSTOMER,ST,GENDER,EDUCATION,CUSTOMER LIFETIME VALUE,INCOME,MONTHLY PREMIUM AUTO,NUMBER OF OPEN COMPLAINTS,POLICY TYPE,VEHICLE CLASS,TOTAL CLAIM AMOUNT
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247

In [14]:
file2.head(3)

,CUSTOMER,ST,GENDER,EDUCATION,CUSTOMER LIFETIME VALUE,INCOME,MONTHLY PREMIUM AUTO,NUMBER OF OPEN COMPLAINTS,POLICY TYPE,VEHICLE CLASS,TOTAL CLAIM AMOUNT
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,Personal Auto,Four-Door Car,633.6
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,Special Auto,SUV,547.2
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,Personal Auto,Two-Door Car,537.6

In [31]:
file3_copy.head(3)

,CUSTOMER,ST,GENDER,EDUCATION,CUSTOMER LIFETIME VALUE,INCOME,MONTHLY PREMIUM AUTO,NUMBER OF OPEN COMPLAINTS,POLICY TYPE,VEHICLE CLASS,TOTAL CLAIM AMOUNT
0,SA25987,Washington,M,High School or Below,3479.137523,0,104,0,Personal Auto,Two-Door Car,499.200000
1,TB86706,Arizona,M,Master,2502.637401,0,66,0,Personal Auto,Two-Door Car,3.468912
2,ZL73902,Nevada,F,Bachelor,3265.156348,25820,82,0,Personal Auto,Four-Door Car,393.600000

# Concatenate the three dataframes

In [33]:
merged_file = pd.concat([file1, file2, file3_copy], axis=0)
merged_file.shape

(12074, 11)

# Which columns are numerical?:

In [34]:
merged_file.dtypes

CUSTOMER                      object
ST                            object
GENDER                        object
EDUCATION                     object
CUSTOMER LIFETIME VALUE       object
INCOME                       float64
MONTHLY PREMIUM AUTO         float64
NUMBER OF OPEN COMPLAINTS     object
POLICY TYPE                   object
VEHICLE CLASS                 object
TOTAL CLAIM AMOUNT           float64
dtype: object

In [35]:
merged_file.select_dtypes(include='float64')
#we have to consider that number of open complaints and customer lifetime value are numerical too

       INCOME  MONTHLY PREMIUM AUTO  TOTAL CLAIM AMOUNT
0         0.0                1000.0            2.704934
1         0.0                  94.0         1131.464935
2     48767.0                 108.0          566.472247
3         0.0                 106.0          529.881344
4     36357.0                  68.0           17.269323
...       ...                   ...                 ...
7065  71941.0                  73.0          198.234764
7066  21604.0                  79.0          379.200000
7067      0.0                  85.0          790.784983
7068  21941.0                  96.0          691.200000
7069      0.0                  77.0          369.600000

[12074 rows x 3 columns]

# Which columns are categorical?

In [36]:
merged_file.select_dtypes(include='object')

,CUSTOMER,ST,GENDER,EDUCATION,CUSTOMER LIFETIME VALUE,NUMBER OF OPEN COMPLAINTS,POLICY TYPE,VEHICLE CLASS
0,RB50392,Washington,NaN,Master,NaN,1/0/00,Personal Auto,Four-Door Car
1,QZ44356,Arizona,F,Bachelor,697953.59%,1/0/00,Personal Auto,Four-Door Car
2,AI49188,Nevada,F,Bachelor,1288743.17%,1/0/00,Personal Auto,Two-Door Car
3,WW63253,California,M,Bachelor,764586.18%,1/0/00,Corporate Auto,SUV
4,GA49547,Washington,M,High School or Below,536307.65%,1/0/00,Personal Auto,Four-Door Car
...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,Bachelor,23405.98798,0,Personal Auto,Four-Door Car
7066,PK87824,California,F,College,3096.511217,0,Corporate Auto,Four-Door Car
7067,TD14365,California,M,Bachelor,8163.890428,3,Corporate Auto,Four-Door Car
7068,UP19263,California,M,College,7524.442436,0,Personal Auto,Four-Door Car
7069,Y167826,California,M,College,2611.836866,0,Corporate Auto,Two-Door Car

# Understand the meaning of all columns

# Perform the data cleaning operations mentioned so far in class

## Delete the column education and the number of open complaints from the dataframe

In [37]:
merged_file_copy = merged_file

In [38]:
merged_file_copy = merged_file_copy.drop(['EDUCATION', 'NUMBER OF OPEN COMPLAINTS'], axis=1)

## Correct the values in the column customer lifetime value. They are given as a percent, so multiply them by 100 and change dtype to numerical type.

In [39]:
merged_file_copy['CUSTOMER LIFETIME VALUE'] =  pd.to_numeric(merged_file_copy['CUSTOMER LIFETIME VALUE'], errors='coerce')

In [45]:
merged_file_copy["CUSTOMER LIFETIME VALUE"] = 100 * merged_file_copy["CUSTOMER LIFETIME VALUE"]

In [46]:
merged_file_copy

,CUSTOMER,ST,GENDER,CUSTOMER LIFETIME VALUE,INCOME,MONTHLY PREMIUM AUTO,POLICY TYPE,VEHICLE CLASS,TOTAL CLAIM AMOUNT
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,NaN,0.0,94.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,NaN,48767.0,108.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,NaN,0.0,106.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,NaN,36357.0,68.0,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,4.681198e+06,71941.0,73.0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,6.193022e+05,21604.0,79.0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,California,M,1.632778e+06,0.0,85.0,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,California,M,1.504888e+06,21941.0,96.0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,California,M,5.223674e+05,0.0,77.0,Corporate Auto,Two-Door Car,369.600000

## Check for duplicate rows in the data and remove if any

In [48]:
merged_file_copy_2 = merged_file_copy.drop_duplicates()
merged_file_copy_2

,CUSTOMER,ST,GENDER,CUSTOMER LIFETIME VALUE,INCOME,MONTHLY PREMIUM AUTO,POLICY TYPE,VEHICLE CLASS,TOTAL CLAIM AMOUNT
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,NaN,0.0,94.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,NaN,48767.0,108.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,NaN,0.0,106.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,NaN,36357.0,68.0,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,4.681198e+06,71941.0,73.0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,6.193022e+05,21604.0,79.0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,California,M,1.632778e+06,0.0,85.0,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,California,M,1.504888e+06,21941.0,96.0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,California,M,5.223674e+05,0.0,77.0,Corporate Auto,Two-Door Car,369.600000

# Filter out the data for customers who have an income of 0 or less.

In [53]:
merged_file_copy_2[merged_file_copy_2['INCOME']=='0']

Empty DataFrame
Columns: [CUSTOMER, ST, GENDER, CUSTOMER LIFETIME VALUE, INCOME, MONTHLY PREMIUM AUTO, POLICY TYPE, VEHICLE CLASS, TOTAL CLAIM AMOUNT]
Index: []