# Show the dataframe shape.

In [5]:
import pandas as pd
import numpy as np
marketing_data = pd.read_csv('/Users/joluhergo/Desktop/Ironhack/labs/lab-customer-analysis-r2/marketing_customer_analysis.csv')

In [6]:
marketing_data.shape

(10910, 26)

# Standardize header names.

In [7]:
marketing_data.columns

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

In [9]:
marketing_data.columns = list(map(lambda x: x.upper(), marketing_data.columns))

In [12]:
marketing_data.columns

Index(['UNNAMED: 0', 'CUSTOMER', 'STATE', 'CUSTOMER LIFETIME VALUE',
       'RESPONSE', 'COVERAGE', 'EDUCATION', 'EFFECTIVE TO DATE',
       'EMPLOYMENTSTATUS', 'GENDER', 'INCOME', 'LOCATION CODE',
       'MARITAL STATUS', 'MONTHLY PREMIUM AUTO', 'MONTHS SINCE LAST CLAIM',
       'MONTHS SINCE POLICY INCEPTION', 'NUMBER OF OPEN COMPLAINTS',
       'NUMBER OF POLICIES', 'POLICY TYPE', 'POLICY', 'RENEW OFFER TYPE',
       'SALES CHANNEL', 'TOTAL CLAIM AMOUNT', 'VEHICLE CLASS', 'VEHICLE SIZE',
       'VEHICLE TYPE'],
      dtype='object')

# Which columns are numerical?

In [14]:
marketing_data.head(2)

,UNNAMED: 0,CUSTOMER,STATE,CUSTOMER LIFETIME VALUE,RESPONSE,COVERAGE,EDUCATION,EFFECTIVE TO DATE,EMPLOYMENTSTATUS,GENDER,...,NUMBER OF OPEN COMPLAINTS,NUMBER OF POLICIES,POLICY TYPE,POLICY,RENEW OFFER TYPE,SALES CHANNEL,TOTAL CLAIM AMOUNT,VEHICLE CLASS,VEHICLE SIZE,VEHICLE TYPE
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN

In [15]:
marketing_data.dtypes

UNNAMED: 0                         int64
CUSTOMER                          object
STATE                             object
CUSTOMER LIFETIME VALUE          float64
RESPONSE                          object
COVERAGE                          object
EDUCATION                         object
EFFECTIVE TO DATE                 object
EMPLOYMENTSTATUS                  object
GENDER                            object
INCOME                             int64
LOCATION CODE                     object
MARITAL STATUS                    object
MONTHLY PREMIUM AUTO               int64
MONTHS SINCE LAST CLAIM          float64
MONTHS SINCE POLICY INCEPTION      int64
NUMBER OF OPEN COMPLAINTS        float64
NUMBER OF POLICIES                 int64
POLICY TYPE                       object
POLICY                            object
RENEW OFFER TYPE                  object
SALES CHANNEL                     object
TOTAL CLAIM AMOUNT               float64
VEHICLE CLASS                     object
VEHICLE SIZE                      object
VEHICLE TYPE                      object
dtype: object

In [17]:
n = ['int64','float64']
marketing_data.select_dtypes(include=n)

,UNNAMED: 0,CUSTOMER LIFETIME VALUE,INCOME,MONTHLY PREMIUM AUTO,MONTHS SINCE LAST CLAIM,MONTHS SINCE POLICY INCEPTION,NUMBER OF OPEN COMPLAINTS,NUMBER OF POLICIES,TOTAL CLAIM AMOUNT
0,0,4809.216960,48029,61,7.0,52,0.0,9,292.800000
1,1,2228.525238,0,64,3.0,26,0.0,1,744.924331
2,2,14947.917300,22139,100,34.0,31,0.0,2,480.000000
3,3,22332.439460,49078,97,10.0,3,0.0,2,484.013411
4,4,9025.067525,23675,117,NaN,31,NaN,7,707.925645
...,...,...,...,...,...,...,...,...,...
10905,10905,15563.369440,0,253,NaN,40,NaN,7,1214.400000
10906,10906,5259.444853,61146,65,7.0,68,0.0,6,273.018929
10907,10907,23893.304100,39837,201,11.0,63,0.0,2,381.306996
10908,10908,11971.977650,64195,158,0.0,27,4.0,6,618.288849
10909,10909,6857.519928,0,101,31.0,1,0.0,3,1021.719397

# Which columns are categorical?

In [18]:
marketing_data.select_dtypes(include='object')

,CUSTOMER,STATE,RESPONSE,COVERAGE,EDUCATION,EFFECTIVE TO DATE,EMPLOYMENTSTATUS,GENDER,LOCATION CODE,MARITAL STATUS,POLICY TYPE,POLICY,RENEW OFFER TYPE,SALES CHANNEL,VEHICLE CLASS,VEHICLE SIZE,VEHICLE TYPE
0,DK49336,Arizona,No,Basic,College,2/18/11,Employed,M,Suburban,Married,Corporate Auto,Corporate L3,Offer3,Agent,Four-Door Car,Medsize,NaN
1,KX64629,California,No,Basic,College,1/18/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer4,Call Center,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,No,Basic,Bachelor,2/10/11,Employed,M,Suburban,Single,Personal Auto,Personal L3,Offer3,Call Center,SUV,Medsize,A
3,XL78013,Oregon,Yes,Extended,College,1/11/11,Employed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer2,Branch,Four-Door Car,Medsize,A
4,QA50777,Oregon,No,Premium,Bachelor,1/17/11,Medical Leave,F,Suburban,Married,Personal Auto,Personal L2,Offer1,Branch,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,No,Premium,Bachelor,1/19/11,Unemployed,F,Suburban,Married,Personal Auto,Personal L1,Offer3,Web,Luxury Car,Medsize,A
10906,KX53892,Oregon,No,Basic,College,1/6/11,Employed,F,Urban,Married,Personal Auto,Personal L3,Offer2,Branch,Four-Door Car,Medsize,A
10907,TL39050,Arizona,No,Extended,Bachelor,2/6/11,Employed,F,Rural,Married,Corporate Auto,Corporate L3,Offer1,Web,Luxury SUV,Medsize,NaN
10908,WA60547,California,No,Premium,College,2/13/11,Employed,F,Urban,Divorced,Personal Auto,Personal L1,Offer1,Branch,SUV,Medsize,A
10909,IV32877,NaN,NaN,Basic,Bachelor,1/8/11,Unemployed,M,Suburban,Single,Personal Auto,Personal L1,Offer4,Web,SUV,Medsize,NaN

# Check and deal with NaN values.

marketing_data.isna()

In [23]:
marketing_data.isna().sum()

UNNAMED: 0                          0
CUSTOMER                            0
STATE                             631
CUSTOMER LIFETIME VALUE             0
RESPONSE                          631
COVERAGE                            0
EDUCATION                           0
EFFECTIVE TO DATE                   0
EMPLOYMENTSTATUS                    0
GENDER                              0
INCOME                              0
LOCATION CODE                       0
MARITAL STATUS                      0
MONTHLY PREMIUM AUTO                0
MONTHS SINCE LAST CLAIM           633
MONTHS SINCE POLICY INCEPTION       0
NUMBER OF OPEN COMPLAINTS         633
NUMBER OF POLICIES                  0
POLICY TYPE                         0
POLICY                              0
RENEW OFFER TYPE                    0
SALES CHANNEL                       0
TOTAL CLAIM AMOUNT                  0
VEHICLE CLASS                     622
VEHICLE SIZE                      622
VEHICLE TYPE                     5482
dtype: int64

In [24]:
marketing_data[marketing_data['STATE'].isna()==True].head(60)
#checking how NaN values seem to be distributed

,UNNAMED: 0,CUSTOMER,STATE,CUSTOMER LIFETIME VALUE,RESPONSE,COVERAGE,EDUCATION,EFFECTIVE TO DATE,EMPLOYMENTSTATUS,GENDER,...,NUMBER OF OPEN COMPLAINTS,NUMBER OF POLICIES,POLICY TYPE,POLICY,RENEW OFFER TYPE,SALES CHANNEL,TOTAL CLAIM AMOUNT,VEHICLE CLASS,VEHICLE SIZE,VEHICLE TYPE
5,5,HO81102,NaN,4745.181764,NaN,Basic,High School or Below,2/14/11,Employed,M,...,0.0,7,Personal Auto,Personal L3,Offer1,Agent,292.800000,Four-Door Car,Medsize,A
11,11,GE63585,NaN,2420.711888,NaN,Basic,Bachelor,2/7/11,Employed,M,...,0.0,1,Corporate Auto,Corporate L3,Offer1,Call Center,199.551735,Two-Door Car,Medsize,NaN
58,58,BR69566,NaN,14019.833140,NaN,Basic,College,2/18/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer4,Call Center,469.882367,Two-Door Car,Small,NaN
62,62,UF44021,NaN,2108.493744,NaN,Basic,Bachelor,1/2/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L2,Offer1,Agent,351.856810,Two-Door Car,Medsize,NaN
126,126,TE60343,NaN,4716.264294,NaN,Basic,High School or Below,2/25/11,Employed,M,...,1.0,3,Corporate Auto,Corporate L3,Offer2,Agent,292.800000,Four-Door Car,Medsize,A
131,131,QK24293,NaN,6265.343299,NaN,Extended,Doctor,1/13/11,Unemployed,F,...,1.0,4,Corporate Auto,Corporate L1,Offer1,Agent,481.025786,Four-Door Car,Medsize,NaN
155,155,JG35886,NaN,4111.888285,NaN,Premium,College,1/21/11,Employed,F,...,0.0,1,Personal Auto,Personal L2,Offer2,Call Center,480.073548,Four-Door Car,Medsize,A
168,168,FV22585,NaN,6960.920371,NaN,Extended,College,2/4/11,Employed,M,...,0.0,3,Personal Auto,Personal L1,Offer1,Call Center,16.711329,Four-Door Car,Medsize,NaN
169,169,AU23837,NaN,5010.379310,NaN,Basic,Bachelor,1/19/11,Employed,F,...,NaN,7,Corporate Auto,Corporate L3,Offer1,Agent,295.871784,Four-Door Car,Large,A
190,190,VZ18907,NaN,21991.615980,NaN,Basic,College,1/12/11,Employed,F,...,0.0,2,Personal Auto,Personal L3,Offer2,Branch,132.139111,SUV,Large,NaN
226,226,VK57280,NaN,4727.354548,NaN,Basic,Bachelor,1/3/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L2,Offer2,Call Center,345.600000,Four-Door Car,Medsize,NaN
251,251,EA52579,NaN,7687.296987,NaN,Basic,Bachelor,2/26/11,Unemployed,F,...,0.0,3,Personal Auto,Personal L1,Offer3,Call Center,523.200000,SUV,Medsize,NaN
270,270,KX23516,NaN,4455.843406,NaN,Extended,High School or Below,2/20/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Agent,699.615192,SUV,Medsize,NaN
304,304,PP39078,NaN,5623.611187,NaN,Basic,College,2/19/11,Employed,F,...,0.0,3,Special Auto,Special L1,Offer4,Branch,340.800000,Four-Door Car,Small,A
305,305,WZ83320,NaN,9061.057741,NaN,Premium,Master,2/18/11,Employed,F,...,0.0,8,Personal Auto,Personal L1,Offer3,Web,419.303041,Four-Door Car,Medsize,A
321,321,WQ85760,NaN,4260.335730,NaN,Basic,College,2/5/11,Medical Leave,M,...,0.0,1,Corporate Auto,Corporate L3,Offer3,Branch,856.800000,SUV,Medsize,NaN
323,323,GF70857,NaN,2933.960426,NaN,Extended,College,1/28/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L3,Offer2,Call Center,199.851201,Four-Door Car,Medsize,A
329,329,OE15600,NaN,2544.969754,NaN,Basic,College,2/6/11,Employed,M,...,NaN,1,Personal Auto,Personal L3,Offer2,Call Center,139.745936,Two-Door Car,Medsize,A
334,334,AV76907,NaN,4282.947971,NaN,Basic,College,2/26/11,Employed,F,...,1.0,1,Personal Auto,Personal L3,Offer1,Agent,166.937747,SUV,Medsize,A
347,347,WT71621,NaN,3280.457296,NaN,Extended,Bachelor,2/2/11,Employed,F,...,0.0,1,Personal Auto,Personal L3,Offer2,Web,251.756739,Four-Door Car,Medsize,A
385,385,OQ61223,NaN,17497.522010,NaN,Basic,College,2/28/11,Unemployed,M,...,0.0,2,Personal Auto,Personal L2,Offer1,Agent,350.400000,Two-Door Car,Medsize,NaN
403,403,ET47892,NaN,12280.766610,NaN,Premium,College,1/1/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer1,Branch,489.600000,Two-Door Car,Medsize,A
404,404,XD19546,NaN,8160.689782,NaN,Basic,High School or Below,1/21/11,Unemployed,F,...,0.0,7,Personal Auto,Personal L1,Offer1,Web,523.200000,SUV,Medsize,NaN
430,430,AB96670,NaN,2393.915369,NaN,Basic,College,1/31/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L1,Offer1,Branch,425.266308,Four-Door Car,Medsize,NaN
455,455,PO56357,NaN,5363.528173,NaN,Basic,High School or Below,1/1/11,Employed,F,...,1.0,8,Personal Auto,Personal L3,Offer1,Web,272.445607,Four-Door Car,Medsize,A
475,475,MB20764,NaN,17622.133200,NaN,Premium,High School or Below,2/18/11,Unemployed,M,...,0.0,3,Corporate Auto,Corporate L2,Offer4,Branch,1814.400000,Luxury SUV,Medsize,A
478,478,DO98345,NaN,13156.748950,NaN,Extended,High School or Below,2/28/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer2,Web,371.458196,Two-Door Car,Medsize,NaN
491,491,IE97795,NaN,6878.008403,NaN,Extended,High School or Below,2/5/11,Employed,M,...,0.0,5,Corporate Auto,Corporate L1,Offer3,Agent,485.013840,NaN,NaN,A
574,574,WR85740,NaN,8149.769437,NaN,Basic,Doctor,1/26/11,Unemployed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Call Center,340.800000,Two-Door Car,Medsize,A
595,595,TN17395,NaN,22103.507200,NaN,Basic,College,1/30/11,Unemployed,M,...,0.0,2,Personal Auto,Personal L3,Offer1,Branch,489.600000,SUV,Medsize,A
597,597,EP64069,NaN,5138.244998,NaN,Basic,Bachelor,1/8/11,Employed,F,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Web,272.649844,Four-Door Car,Medsize,NaN
605,605,OD18225,NaN,6631.665538,NaN,Extended,College,1/18/11,Employed,M,...,0.0,3,Personal Auto,Personal L2,Offer3,Agent,403.200000,Four-Door Car,Medsize,A
648,648,RS29507,NaN,10395.709390,NaN,Extended,Bachelor,2/10/11,Unemployed,F,...,0.0,2,Personal Auto,Personal L3,Offer2,Agent,337.797690,Four-Door Car,Medsize,NaN
662,662,YS94121,NaN,5645.396665,NaN,Basic,High School or Below,2/27/11,Employed,M,...,0.0,9,Personal Auto,Personal L1,Offer1,Call Center,428.734656,Four-Door Car,Small,A
670,670,RL51023,NaN,4185.757242,NaN,Basic,College,2/16/11,Unemployed,M,...,0.0,3,Corporate Auto,Corporate L1,Offer2,Call Center,492.644465,Four-Door Car,Small,NaN
686,686,NQ71171,NaN,5107.071054,NaN,Basic,Bachelor,2/2/11,Employed,M,...,0.0,7,Personal Auto,Personal L2,Offer1,Agent,128.900320,Four-Door Car,Medsize,NaN
690,690,OO11998,NaN,4583.748377,NaN,Basic,Master,1/19/11,Employed,M,...,4.0,1,Personal Auto,Personal L2,Offer1,Branch,764.592151,SUV,Medsize,NaN
720,720,ON74557,NaN,14651.615300,NaN,Extended,Bachelor,1/6/11,Employed,M,...,0.0,2,Personal Auto,Personal L2,Offer3,Branch,393.151377,SUV,Medsize,NaN
725,725,JC33752,NaN,6277.844624,NaN,Extended,College,1/21/11,Employed,F,...,1.0,9,Personal Auto,Personal L3,Offer2,Agent,450.129276,Two-Door Car,Large,NaN
726,726,SY86059,NaN,3731.504584,NaN,Extended,High School or Below,2/24/11,Unemployed,F,...,NaN,1,Corporate Auto,Corporate L3,Offer1,Agent,460.800000,Four-Door Car,Large,A
729,729,BV86143,NaN,21034.018150,NaN,Basic,High School or Below,2/23/11,Employed,F,...,0.0,2,Personal Auto,Personal L2,Offer4,Call Center,219.209762,Four-Door Car,Medsize,A
732,732,QR45101,NaN,6624.611830,NaN,Basic,Bachelor,2/26/11,Unemployed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Branch,297.600000,Two-Door Car,Medsize,NaN
740,740,RB63074,NaN,4858.067125,NaN,Basic,High School or Below,1/3/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer2,Branch,482.400000,Four-Door Car,Medsize,NaN
744,744,KH24214,NaN,17857.972330,NaN,Basic,College,2/13/11,Employed,M,...,1.0,2,Personal Auto,Personal L3,Offer3,Agent,445.287788,NaN,NaN,NaN
745,745,PB39857,NaN,5129.608404,NaN,Extended,Master,2/23/11,Employed,M,...,0.0,1,Personal Auto,Personal L3,Offer2,Agent,343.139611,SUV,Large,NaN
764,764,ZY57929,NaN,8169.746083,NaN,Basic,College,1/26/11,Employed,F,...,0.0,3,Personal Auto,Personal L2,Offer1,Agent,499.200000,SUV,Medsize,A
781,781,GI55977,NaN,2337.351820,NaN,Basic,High School or Below,2/23/11,Medical Leave,F,...,0.0,1,Personal Auto,Personal L1,Offer2,Call Center,292.800000,Four-Door Car,Small,NaN
785,785,KN13494,NaN,5181.620895,NaN,Basic,Master,2/3/11,Employed,F,...,NaN,6,Personal Auto,Personal L1,Offer2,Agent,307.200000,Four-Door Car,Small,A
794,794,RZ97514,NaN,7498.824515,NaN,Basic,Master,1/27/11,Unemployed,F,...,0.0,2,Personal Auto,Personal L1,Offer3,Agent,316.800000,Four-Door Car,Medsize,NaN
796,796,KE61355,NaN,5272.703428,NaN,Basic,High School or Below,2/16/11,Employed,F,...,0.0,3,Corporate Auto,Corporate L1,Offer2,Web,328.366827,Four-Door Car,Medsize,A
814,814,UU70820,NaN,5867.126420,NaN,Basic,College,2/22/11,Employed,F,...,0.0,5,Personal Auto,Personal L3,Offer2,Call Center,199.444294,Four-Door Car,Large,NaN
857,857,HD44279,NaN,5090.448750,NaN,Basic,Bachelor,2/8/11,Disabled,F,...,1.0,4,Personal Auto,Personal L2,Offer1,Branch,340.800000,Four-Door Car,Medsize,A
859,859,PD30266,NaN,5015.643575,NaN,Extended,College,2/10/11,Employed,F,...,0.0,1,Special Auto,Special L1,Offer1,Branch,537.315879,SUV,Medsize,NaN
878,878,QN62502,NaN,3839.143697,NaN,Extended,Bachelor,2/7/11,Employed,F,...,0.0,1,Personal Auto,Personal L1,Offer2,Branch,157.440069,Four-Door Car,Medsize,A
890,890,EN38348,NaN,23207.269720,NaN,Extended,High School or Below,1/16/11,Employed,F,...,0.0,2,Personal Auto,Personal L2,Offer1,Agent,192.144838,Four-Door Car,Large,A
895,895,ON44465,NaN,5313.294035,NaN,Extended,High School or Below,1/24/11,Unemployed,F,...,1.0,9,Personal Auto,Personal L2,Offer1,Agent,863.394700,Four-Door Car,Medsize,NaN
900,900,XP92021,NaN,13295.602840,NaN,Basic,High School or Below,2/27/11,Employed,F,...,0.0,2,Personal Auto,Personal L1,Offer1,Call Center,528.000000,SUV,Medsize,A
906,906,DP63956,NaN,6791.215414,NaN,Basic,Bachelor,1/10/11,Unemployed,F,...,1.0,8,Corporate Auto,Corporate L2,Offer1,Agent,727.200000,SUV,Large,A
908,908,GG84614,NaN,3031.587812,NaN,Extended,High School or Below,1/8/11,Employed,F,...,0.0,1,Personal Auto,Personal L3,Offer3,Branch,455.545318,Two-Door Car,Medsize,A
909,909,MD15300,NaN,10110.769970,NaN,Extended,College,2/5/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer4,Web,93.309811,Two-Door Car,Large,A

We cant drop the rows with NaN values because they also have importante information.
They are not a lot of NaN values, so we can check if we can fill some of them

In [25]:
marketing_data['STATE'].value_counts()

California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
Name: STATE, dtype: int64

In [26]:
marketing_data['RESPONSE'].value_counts()

No     8813
Yes    1466
Name: RESPONSE, dtype: int64

In [29]:
marketing_data['NUMBER OF OPEN COMPLAINTS'].value_counts()

0.0    8160
1.0    1145
2.0     414
3.0     324
4.0     166
5.0      68
Name: NUMBER OF OPEN COMPLAINTS, dtype: int64

In [30]:
marketing_data['VEHICLE CLASS'].value_counts()

Four-Door Car    5212
Two-Door Car     2118
SUV              2012
Sports Car        550
Luxury SUV        208
Luxury Car        188
Name: VEHICLE CLASS, dtype: int64

In [31]:
marketing_data['VEHICLE SIZE'].value_counts()

Medsize    7251
Small      1966
Large      1071
Name: VEHICLE SIZE, dtype: int64

In [32]:
marketing_data['VEHICLE TYPE'].value_counts()

A    5428
Name: VEHICLE TYPE, dtype: int64

Wewe could fill some of the NaN values with the average or the most frequent element of a column, but I think it is a better option to fill it more randomly using the data from the previous row, as otherwise it would increase too much some of the values

In [33]:
marketing_data_filled = marketing_data.fillna(method='backfill')

In [34]:
marketing_data_filled.isna().sum()

UNNAMED: 0                       0
CUSTOMER                         0
STATE                            1
CUSTOMER LIFETIME VALUE          0
RESPONSE                         1
COVERAGE                         0
EDUCATION                        0
EFFECTIVE TO DATE                0
EMPLOYMENTSTATUS                 0
GENDER                           0
INCOME                           0
LOCATION CODE                    0
MARITAL STATUS                   0
MONTHLY PREMIUM AUTO             0
MONTHS SINCE LAST CLAIM          0
MONTHS SINCE POLICY INCEPTION    0
NUMBER OF OPEN COMPLAINTS        0
NUMBER OF POLICIES               0
POLICY TYPE                      0
POLICY                           0
RENEW OFFER TYPE                 0
SALES CHANNEL                    0
TOTAL CLAIM AMOUNT               0
VEHICLE CLASS                    0
VEHICLE SIZE                     0
VEHICLE TYPE                     1
dtype: int64

We can check, taking 'STATE' as example, that this method doesnt change our values as mach as filling the most frequent (California would have increased in 631, wich is an increase of 17,7%)

In [35]:
marketing_data['STATE'].value_counts()

California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
Name: STATE, dtype: int64

In [36]:
marketing_data_filled['STATE'].value_counts()

California    3765
Oregon        3085
Arizona       2067
Nevada        1051
Washington     941
Name: STATE, dtype: int64